<section class="main-view">
    <h1 ng-init="">Auftrag abschlie&szlig;en</h1>

    <div class="form-group">
        <label>Strecke in KM:</label>
        <input placeholder="Bis zum Kunden" type="number" class="form-control" ng-model="assign.miles">
    </div>

    <div class="form-group">
        <label>Barbetr&auml;ge:</label>
        <span style="display: block;">F&uuml;r diese Bestellung vorgesehen: {{assign.total | number:2}} €</span>
        <input placeholder="in €" type="number" class="form-control" ng-model="assign.money">
    </div>

    <div class="form-group">
        <label>Datum:</label>
        <input class="form-control" value="assign.date" ng-model="assign.date" data-ng-click="openCalender()"
               uib-datepicker-popup="{{format}}"
               is-open="popup1.opened"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Schließen"
               clear-text="Zurücksetzen"
               current-text="Heute"
               alt-input-formats="altInputFormats">
    </div>

    <button class="btn btn-success" data-ng-click="fullFillOrder(assign)">Speichern</button>
</section>