<section class="main-view">
    <h1 ng-init="getAllAssigns()">Meine Auftr&auml;ge</h1>
    <br/>

    <div class="assignment" ng-repeat="assign in assigns">

        <div class="left-box boxes">
            <h3>Produkte: </h3>
            <div class="product-list" ng-repeat="product in assign.products">
                <p>Name: <span class="info-text">{{product.product_name}}</span></p>
                <p>Menge: <span class="info-text">{{product.amount}}</span></p>
                <p>Preis: <span class="info-text">{{product.amount * product.retail_price | number:2}} &euro;</span></p>
            </div>
        </div>

        <div class="right-box">
            <div class="boxes">
                <h3>Bestelldetails</h3>
                <p>Liefer Nr. <span class="info-text">{{assign.delivery_id}}</span></p>
                <p>Bestell Nr. <span class="info-text">{{assign.order_id}}</span></p>
                <p>Gesamtwert Bestellung: <span class="info-text">{{assign.total | number:2}} &euro;</span></p>
            </div>

            <div class="boxes">
                <h3>Fahrzeug: </h3>

                <p>Fahrzeug Nr. <span class="info-text">{{assign.vehicle.vehicle_id}}</span></p>
                <p>Model: <span class="info-text">{{assign.vehicle.model}}</span></p>
                <p>Kennzeichen: <span class="info-text">{{assign.vehicle.mark}}</span></p>
            </div>
        </div>

        <div class="clearfix"></div>

        <div style="display: block; width: 100%">
            <button data-ng-click="gotoTourAdd(assign)" class="btn btn-success assign-btn">Auftrag abschließen</button>
        </div>

    </div>

    <h2 class="alert alert-info" ng-if="assigns.length === 0">Keine Auftr&auml;ge vorhanden</h2>

</section>