<section class="main-view">
    <h1>Bestellungen Bearbeiten</h1>

    <h2>W&auml;hle Bestellungen aus</h2>

    <table class="table table-bordered" ng-init="getUntouchedOrders()">
        <tr>
            <th ng-click="order('order_id')">Bestell Nr.:
                <i ng-show="predicate === 'order_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'order_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('status')">Status
                <i ng-show="predicate === 'status' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'status' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('order_date')">Bestelldatum
                <i ng-show="predicate === 'order_date' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'order_date' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('customer_id')">Kunden Nr.
                <i ng-show="predicate === 'customer_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'customer_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th>
                Funktionen
            </th>
        </tr>
        <tr ng-repeat="order in orders| filter : searchText">
            <td>{{order.order_id}}</td>
            <td>{{order.status}}</td>
            <td>{{order.order_date | date }}</td>
            <td>{{order.customer_id}}</td>
            <td>
                <input type="checkbox" ng-model="order.isChecked" data-ng-change="setSelectedOrder(order)">
            </td>
        </tr>
    </table>

    <div ng-show="tourOrders.length > 0" style="padding: 2em 0;">
        <h2>Ausgew&auml;hlte Bestellungen</h2>
        <div>
            <div ng-repeat="ts in tourOrders">
                <div style="background-color: #006600">
                    <pre style="text-align: center; background-color: #006600; color: #fff;">Bestell Nr.: {{ts.order_id}} | Bestelldatum: {{ts.order_date | date}} | Kunden Nr.: {{ts.customer_id}}</pre>
                </div>
            </div>
        </div>
    </div>

    <h2>Fahrzeug zuweisen</h2>

    <div class="form-group has-feedback" ng-init="getAllVehicles()" >
        <label id="searchBox" class="control-label">Fahrzeug Nr:</label>
        <input ng-hide="true" placeholder="Suche" class="form-control" maxlength="3" type="search"
               ng-model="searchVehicleID">
        <i ng-hide="true" class="form-control-feedback glyphicon glyphicon-search"></i>

        <select class="form-control" ng-model="tour.vehicle_id">
            <option value="{{vehicle.vehicle_id}}"  ng-repeat="vehicle in vehicles | filter: searchVehicleID">
                {{vehicle.vehicle_id}} | {{vehicle.model}} | {{vehicle.brand}}
            </option>
        </select>
    </div>

    <h2>Fahrer auswählen:</h2>

    <div class="form-group has-feedback" ng-init="getAllDriver()">
        <select class="form-control" ng-model="driver.employer_id">
            <option value="{{driver.employer_id}}"  ng-repeat="driver in drivers">
                {{driver.employer_id}} | {{driver.surname}} | {{driver.name}}
            </option>
        </select>
    </div>

    <button class="btn btn-success" data-ng-click="editOrder(tourOrders, tour.vehicle_id, driver.employer_id)">Tour anlegen</button>

</section>