<section class="main-view">
    <h1 ng-init="getAllOrders()">Bestell&uuml;bersicht</h1>
    <br/>
    <div>
        <button ng-if="isEmployer() || isAdmin()" class="btn btn-success" ui-sref="employer.editOrder">Bestellungen bearbeiten</button>
    </div>
    <br />
    <div>
        <div class="pull-right">
            <label for="search">Suche: </label>
            <input ng-model="searchText" name="search" id="search" type="text">
        </div>
        <select class="form-control-static">
            <option default data-ng-click="getAllOrders()">Alle</option>
            <option data-ng-click="getUntouchedOrders()">offen</option>
            <option data-ng-click="getTouchedOrders()">in Bearbeitung</option>
            <option data-ng-click="getFinishedOrders()">fertig</option>
        </select>
        <br />
        <p class="pull-left">Bestellungen gesamt: {{ordersCount}}</p>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('order_id')">Bestell Nr.:
                <i ng-show="predicate === 'order_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'order_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('status')">Status
                <i ng-show="predicate === 'status' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'status' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('order_date')">Bestelldatum
                <i ng-show="predicate === 'order_date' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'order_date' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('employer_id')">Mitarbeiter Nr.
                <i ng-show="predicate === 'employer_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'employer_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('vehicle_id')">Fahrzeug Nr.
                <i ng-show="predicate === 'vehicle_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'vehicle_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('customer_id')">Kunden Nr.
                <i ng-show="predicate === 'customer_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'customer_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th>
                Funktionen
            </th>
        </tr>
        <tr ng-repeat="order in orders| filter : searchText">
            <td>{{order.order_id}}</td>
            <td>{{order.status}}</td>
            <td>{{order.order_date | date}}</td>
            <td>{{order.customer_id}}</td>
            <td>{{order.employer_id}}</td>
            <td>{{order.vehicle_id}}</td>
            <td>
                <button ng-if="order.status === 'in Bearbeitung' " data-ng-click="orderDetails(order)" class="btn btn-info glyphicon glyphicon-info-sign"></button>
            </td>
        </tr>
    </table>
</section>