<section ng-init="userdata.employer = {}" class="main-view">
    <h1>Mitarbeiter hinzuf&uuml;gen</h1>

    <div class="form-group">
        <label>Benutzername:</label>
        <input placeholder="Benutzername" maxlength="30" ng-model="userdata.employer.username" class="form-control"
               type="text">

        <div class="auth-input input-group">
            <label class="auth-label">E-Mailadresse</label>
            <input class="form-control" ng-model="userdata.employer.email" type="email" placeholder="E-Mail">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Passwort</label>
            <input class="form-control" ng-model="userdata.employer.password" maxlength="20" type="password"
                   placeholder="Passwort">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Rolle:</label>
            <select class="form-control" ng-model="userdata.employer.role">
                <option ng-if="isAdmin()" value="{{roles[1]}}">{{roles[1]}}</option>
                <option ng-if="isAccounting() || isAdmin()" value="{{roles[2]}}">{{roles[2]}}</option>
                <option ng-if="isEmployer() || isAdmin()" value="{{roles[3]}}">{{roles[3]}}</option>
                <option ng-if="isAdmin()" value="{{roles[4]}}">{{roles[4]}}</option>
            </select>
        </div>

    </div>

    <h2>Vetragsdaten</h2>

    <div class="form-group">
        <label>Stundenlohn:</label>
        <input placeholder="in Euro" maxlength="30" ng-model="userdata.employer.hourly_wage" class="form-control"
               type="number">

        <label>Soll-Stunden pro Monat:</label>
        <input placeholder="in Euro" maxlength="25" ng-model="userdata.employer.target_hours" class="form-control"
               type="number">
    </div>

    <h2>Personendaten</h2>

    <div class="form-group">
        <label>Vorname:</label>
        <input placeholder="Vorname" maxlength="30" ng-model="userdata.employer.surname" class="form-control"
               type="text">

        <label>Nachname:</label>
        <input placeholder="Nachname" maxlength="25" ng-model="userdata.employer.name" class="form-control" type="text">

        <label>Bundesland:</label>
        <select ng-model="userdata.employer.country" class="form-control">
            <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
        </select>

        <label>Stadt:</label>
        <input placeholder="Stadt" maxlength="10" ng-model="userdata.employer.city" class="form-control" type="text">

        <label>PLZ:</label>
        <input placeholder="Postleitzahl" maxlength="6" ng-model="userdata.employer.postcode" class="form-control"
               type="text">

        <label>Stra&szlig;e:</label>
        <input placeholder="Straße" maxlength="30" ng-model="userdata.employer.street" class="form-control" type="text">

        <label>Nr.:</label>
        <input placeholder="Straßen Nr." maxlength="3" ng-model="userdata.employer.street_nr" class="form-control"
               type="text">

        <label>Telefonnummer:</label>
        <span>+49 </span>
        <input placeholder="Telefonnummer" maxlength="15" ng-model="userdata.employer.tel_nr" class="form-control"
               type="text">
    </div>

    <button class="btn btn-success" data-ng-click="addNewEmployer(userdata)">Registrieren</button>
</section>