<div class="main-view user-edit">
    <h2 ng-if="!isAccounting()">Mitarbeiterdaten bearbeiten:</h2>
    <h2 ng-if="isAccounting()">Mitarbeiterdaten </h2>

    <div class="form-group">
        <label>Benutzername:</label>
        <input maxlength="30" ng-model="userdata.employer.username" class="form-control" type="text"
               value="{{userdata.employer.username}}">

        <label>ID:</label>
        <span class="form-control">{{userdata.employer.employer_id}}</span>

        <label>E-Mailadresse:</label>
        <input maxlength="30" ng-model="userdata.employer.email" class="form-control" type="email"
               value="{{userdata.employer.email}}">

        <div class="auth-input input-group">
            <label class="auth-label">Rolle:</label>
            <select class="form-control" ng-model="userdata.employer.role">
                <option ng-if="isAdmin()" value="{{roles[1]}}">{{roles[1]}}</option>
                <option ng-if="isAccounting() || isAdmin()" value="{{roles[2]}}">{{roles[2]}}</option>
                <option ng-if="isEmployer() || isAdmin()" value="{{roles[3]}}">{{roles[3]}}</option>
                <option ng-if="isAdmin()" value="{{roles[4]}}">{{roles[4]}}</option>
            </select>
        </div>
    </div>

    <h2>Vetragsdaten</h2>

    <div class="form-group">
        <label>Sundenlohn:</label>
        <input placeholder="in Euro" maxlength="30" ng-model="userdata.employer.hourly_wage" class="form-control"
               value="{{userdata.employer.hourly_wage}}" type="number">

        <label>Soll-Stunden pro Monat:</label>
        <input placeholder="in Euro" maxlength="25" ng-model="userdata.employer.target_hours" class="form-control"
               value="{{userdata.employer.target_hours}}" type="number">
    </div>

    <h2>Personendaten:</h2>

    <div class="form-group">
        <label>Vorname:</label>
        <input maxlength="30" ng-model="userdata.employer.surname" class="form-control" type="text"
               value="{{userdata.employer.surname}}">

        <label>Nachname:</label>
        <input maxlength="25" ng-model="userdata.employer.name" class="form-control" type="text"
               value="{{userdata.employer.name}}">

        <label>Bundesland:</label>
        <select ng-model="userdata.employer.country" class="form-control">
            <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
        </select>

        <label>Stadt:</label>
        <input maxlength="10" ng-model="userdata.employer.city" class="form-control" type="text"
               value="{{userdata.employer.city}}">

        <label>PLZ:</label>
        <input maxlength="6" ng-model="userdata.employer.postcode" class="form-control" type="text"
               value="{{userdata.employer.postcode}}">

        <label>Stra&szlig;e:</label>
        <input maxlength="30" ng-model="userdata.employer.street" class="form-control" type="text"
               value="{{userdata.employer.street}}">

        <label>Nr.:</label>
        <input maxlength="3" ng-model="userdata.employer.street_nr" class="form-control" type="text"
               value="{{userdata.employer.street_nr}}">

        <label>Telefonnummer:</label>
        <span>+49 </span>
        <input maxlength="15" ng-model="userdata.employer.tel_nr" class="form-control" type="text"
               value="{{userdata.employer.tel_nr}}">

    </div>

    <button ng-if="!isAccounting()" class="btn btn-success" data-ng-click="saveEmployer(userdata)">Speichern</button>
</div>