<section class="main-view">
    <h1 ng-init="getAllEmployers()">Mitarbeiter &uuml;bersicht</h1>
    <br/>
    <div>
        <div>
            <button ng-if="!isAccounting()" class="btn btn-success" ui-sref="employer.add">Mitarbeiter hinzuf&uuml;gen</button>
        </div>
        <div class="pull-right">
            <label for="search">Suche: </label>
            <input ng-model="searchText" name="search" id="search" type="text">
        </div>
        <p class="pull-left">Mitarbeiter gesamt: {{emplyoersCount}}</p>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('email')">E-Mail
                <i ng-show="predicate === 'email' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'email' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('username')">Name
                <i ng-show="predicate === 'username' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'username' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('role')">Berechtigung
                <i ng-show="predicate === 'role' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'role' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th>
                Funktionen
            </th>
        </tr>
        <tr ng-repeat="employer in employers| filter : searchText">
            <td>{{employer.email}}</td>
            <td>{{employer.username}}</td>
            <td>{{employer.role}}</td>
            <td>
                <button ng-if="isAccounting()" data-ng-click="editEmployer(employer.employer_id)" class="btn btn-info glyphicon glyphicon-info-sign"></button>
                <button ng-if="!isAccounting()" data-ng-click="editEmployer(employer.employer_id)" class="btn btn-info glyphicon glyphicon-pencil"></button>
                <button ng-if="!isAccounting()" data-ng-click="removeEmployer(employer.employer_id)" class="btn btn-danger glyphicon glyphicon-remove-sign"></button>
            </td>
        </tr>
    </table>
</section>