<section ng-init="getUserProfile()" class="main-view user-profile">
    <h1>Deine Daten</h1>

    <h2>Grunddaten:</h2>

    <div class="form-group">
        <label>Benutzername:</label>
        <span class="form-control">{{userdata.employer.username}}</span>

        <label ng-hide="isCustomer()">ID:</label>
        <span ng-hide="isCustomer()" class="form-control">{{userdata.employer.employer_id}}</span>

        <label>E-Mailadresse:</label>
        <span class="form-control">{{userdata.employer.email}}</span>

        <label ng-hide="isCustomer()">Rolle:</label>
        <span ng-hide="isCustomer()" class="form-control">{{userdata.employer.role}}</span>
    </div>

    <h2>Deine Anschrift / Lieferadresse:</h2>

    <div class="form-group">
        <label>Vorname:</label>
        <input maxlength="30" ng-model="userdata.employer.surname" class="form-control" type="text" value="{{userdata.employer.surname}}">

        <label>Nachname:</label>
        <input maxlength="25" ng-model="userdata.employer.name" class="form-control" type="text" value="{{userdata.employer.name}}">

        <label>Bundesland:</label>
        <select ng-model="userdata.employer.country" class="form-control">
            <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
        </select>

        <label>Stadt:</label>
        <input maxlength="10" ng-model="userdata.employer.city" class="form-control" type="text" value="{{userdata.employer.city}}">

        <label>PLZ:</label>
        <input maxlength="6" ng-model="userdata.employer.postcode" class="form-control" type="text" value="{{userdata.employer.postcode}}">

        <label>Stra&szlig;e:</label>
        <input maxlength="30" ng-model="userdata.employer.street" class="form-control" type="text" value="{{userdata.employer.street}}">

        <label>Nr.:</label>
        <input maxlength="3" ng-model="userdata.employer.street_nr" class="form-control" type="text" value="{{userdata.employer.street_nr}}">

        <label>Telefonnummer:</label>
        <span>+49 </span>
        <input maxlength="15" ng-model="userdata.employer.tel_nr" class="form-control" type="text" value="{{userdata.employer.tel_nr}}">

    </div>
    <br>
    <button class="btn btn-success" data-ng-click="saveUserProfile()">Speichern</button>
    <br>
    <br>
</section>