<div class="main-view shop-wrapper" ng-init="getAllProducts()">
    <h1 class="title">Katalog</h1>

    <div>
        <select data-ng-change="getAllProductsFilter(productFilter1, productFilter2)"
                ng-model="productFilter1"
                ng-options="f for f in filter1">
        </select>

        <select ng-model="productFilter2"
                data-ng-change="getAllProductsFilter(productFilter1, productFilter2)"
                ng-options="f for f in filter2">

        </select>

        <div class="catalog-search">
            <label for="search">Suche: </label>
            <input ng-model="searchText" name="search" id="search" type="text">
        </div>
    </div>


    <section class="catalog-list">
        <article class="product" ng-repeat="product in products | filter:searchText">
            <h2>{{product.product_name}}</h2>
            <!--<img src="{{product.image}}" alt="{{item.name}}">-->
            <p class="item-description">Preis: <span class="right-box">{{product.retail_price}} &euro;</span></p>

            <p class="item-description">Stückzahl: <span class="right-box">{{product.count}} </span></p>
            <a href="" ng-show="isLogged" ng-click="addToBasket(product.product_id, product)"
               class="btn btn-info align-center">
                <i class="glyphicon glyphicon-shopping-cart"> In den Warenkorb </i>
            </a>
        </article>
    </section>

    <section ng-if="isLogged" class="basket">
        <h2>Warenkorb <span class="glyphicon glyphicon-shopping-cart"></span></h2>

        <div class="basket-wrapper" ng-if="basket">
            <div class="basketItem" ng-repeat="item in basket">
                <p class="basket-name">Name: {{item.product_name}}</p>

                <p class="basket-price">Preis: {{item.price | number:2}} &euro;</p>

                <p ng-if="item.amount > 0">Menge: {{item.amount}}</p>
                <button ng-click="deleteFromBasket(item)" class="btn btn-danger">Entfernen <i
                        class="glyphicon glyphicon-minus-sign"></i></button>
            </div>
        </div>

        <div class="basket-wrapper" ng-show="hasBasket()">
            <div class="basketItem" ng-repeat="item in basket">
                <p class="basket-name">Name: {{item.product_name}}</p>
            </div>
        </div>


        <button ng-if="basket.length" class="btn btn-success" data-ng-click="submitOrder(basket)">Bestellen</button>
    </section>
</div>