<section class="container">
    <h1 class="title">Home</h1>

    <article>
        <p>Bei uns bekommen Sie fast alles was man einfrieren kann, für einen günstigen preis</p>
        <p>Sie können sich gleich hier im Shop registrieren und sofort loslegen.
            Nachdem Sie sich registriert haben loggen Sie sich einfach ein und shoppen los</p>
    </article>
</section>