<section class="main-view container">
    <h1 class="title">Produkt hinzufuegen</h1>

    <div class="form-group">
        <div class="auth-input input-group">
            <label>Produkt Name:</label>
            <input placeholder="Produkt Name" maxlength="30" ng-model="product.product_name" class="form-control" type="text">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Kategorie:</label>
            <select ng-model="product.category" class="form-control">
                <option value="{{category}}" ng-repeat="category in categories">{{category}}</option>
            </select>
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Einkaufspreis pro St&uuml;ck:</label>
            <input class="form-control" ng-model="product.purchase_price" maxlength="20" type="number"
                   placeholder="Angaben in &euro;">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Menge:</label>
            <input class="form-control" ng-model="product.count" maxlength="20" type="number"
                   placeholder="Wie viel wurde eingekauft?">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Verkaufspreis pro St&uumlck:</label>
            <input class="form-control" ng-model="product.retail_price" maxlength="20" type="number"
                   placeholder="Angaben in &euro;">
        </div>
    </div>

    <button class="btn btn-success" data-ng-click="addProduct(product)">Hinzuf&uuml;gen</button>
</section>