<section class="main-view container">
    <h1 class="title">Produkt bearbeiten</h1>

    <div class="form-group">
        <div class="auth-input input-group">
            <label>Produkt Name:</label>
            <input placeholder="Produkt Name" maxlength="30" ng-model="singleProduct.product_name" class="form-control" type="text">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Kategorie:</label>
            <select ng-model="singleProduct.category" class="form-control">
                <option value="{{category}}" ng-repeat="category in categories">{{category}}</option>
            </select>
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Einkaufspreis:</label>
            <input class="form-control" ng-model="singleProduct.purchase_price" maxlength="20" type="number"
                   placeholder="Angaben in &euro;">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Verkaufspreis:</label>
            <input class="form-control" ng-model="singleProduct.retail_price" maxlength="20" type="number"
                   placeholder="Angaben in &euro;">
        </div>
    </div>

    <button class="btn btn-success" data-ng-click="saveProduct(singleProduct)">Speichern</button>
</section>