<section ng-init="getAllProducts()" class="main-view">
    <h1>Produkte &uuml;bersicht</h1>
    <br/>
    <div>
        <div>
            <button class="btn btn-success" ui-sref="shop.productAdd">Produkt hinzuf&uuml;gen</button>
        </div>
        <div class="pull-right">
            <label for="search">Suche: </label>
            <input ng-model="searchText" name="search" id="search" type="text">
        </div>
        <p class="pull-left">Nutzer gesamt: {{productCount}}</p>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('name')">Name
                <i ng-show="predicate === 'name' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'name' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('category')">Kategorie
                <i ng-show="predicate === 'category' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'category' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('retail_price')">Verkaufspreis
                <i ng-show="predicate === 'retail_price' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'retail_price' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th>
                Funktionen
            </th>
        </tr>
        <tr ng-repeat="product in products | filter : searchText">
            <td>{{product.product_name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.retail_price}} &euro;</td>
            <td>
                <button data-ng-click="editProduct(product.product_id)" class="btn btn-info glyphicon glyphicon-pencil"></button>
                <button data-ng-click="removeProduct(product.product_id)" class="btn btn-danger glyphicon glyphicon-remove-sign"></button>
            </td>
        </tr>
    </table>
</section>