<section class="main-view" ng-init="estimateMoneyByNow()">
    <h1>Finanzen hinzuf&uuml;gen</h1>

    <div class="form-group">
        <label>Datum: </label>
        <div class="input-group">
            <input class="form-control" ng-model="cost.date"
                   data-ng-click="openCalender()"
                   is-open="popup1.opened"
                   ng-required="true"
                   close-text="Schließen"
                   clear-text="Zurücksetzen"
                   current-text="Heute"
                   uib-datepicker-popup="{{format}}"
                   datepicker-options="dateOptions"
                   alt-input-formats="altInputFormats">
            <span class="input-group-btn">
                <span data-ng-click="estimateMoneyByDate(cost.date)" class="btn btn-info" >
                    <i class="glyphicon glyphicon-refresh"></i>
                </span>
            </span>
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Wareneinsatz Kosten</label>
            <input class="form-control" ng-model="cost.material_cost" type="number"
                   placeholder="Wareneinsatzkosten in Eur">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Fahrzeug Kosten</label>
            <input class="form-control" ng-model="cost.vehicle_cost" type="number"
                   placeholder="Wareneinsatzkosten in Eur">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Benzin Kosten</label>
            <input class="form-control" ng-model="cost.fuel_cost" type="number" placeholder="Benzinkosten in Euro">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Mitarbeiter Kosten</label>
            <input class="form-control" ng-model="cost.employer_cost" type="number"
                   placeholder="Mitarbeiterkosten in Euro">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Fixkosten Kosten</label>
            <input class="form-control" ng-model="cost.fix_cost" type="number"
                   placeholder="Mitarbeiterkosten in Euro">
        </div>
    </div>

    <div class="form-group">
        <div class="auth-input input-group">
            <label class="auth-label">Umsatz</label>
            <input class="form-control" ng-model="cost.sales" type="number" placeholder="Umsatz in Euro">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Gewinn</label>

            <div class="input-group">
                <input class="form-control" ng-model="cost.profit" type="number" placeholder="Gewin in Euro">
            <span class="input-group-btn">
                <span data-ng-click="calcProfit(cost)" class="btn btn-warning" >
                    <i class="glyphicon glyphicon-bitcoin"></i>
                </span>
            </span>
            </div>
        </div>
    </div>
    <button class="btn btn-success" data-ng-click="addNewFinance(cost)">Speichern</button>
</section>