<section class="main-view" ng-init="getFixCosts()">
    <h1>Aktuelle Fixkosten</h1>

    <div class="form-group">
        <div class="auth-input input-group">
            <label class="auth-label">Fixkosten:</label>
            <input class="form-control" ng-model="fix.cost" type="number"
                   placeholder="Fixkosten in €">
        </div>
        <button class="btn btn-success" data-ng-click="addNewFixCost(fix.cost)">Speichern</button>
    </div>
</section>