<section class="main-view" ng-init="getFinancesMonthNow()">
    <h1>Finanzen im übersicht</h1>

    <div style="display: block; margin: 1em 0;">
        <button ui-sref="accounting.add" class="btn btn-info">Tagesabschluss</button>
        <button ui-sref="accounting.fix" class="btn btn-info">Fixkosten</button>
    </div>

    <label for="monthFilter">Monat</label>
    <select ng-init="fetchPossibleFinanceDates()" id="monthFilter" data-ng-change="checkCostFilter(selectedCostFilter)"
            ng-options="cf for cf in costFilters"
            ng-model="selectedCostFilter">
    </select>
    <canvas id="bar" class="chart chart-bar"
            chart-data="data"
            chart-labels="labels"
            chart-series="series"
            chart-options="options">
    </canvas>

</section>