/*****************
LowFrost style
*****************/

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.8;
    border-bottom: 5px solid grey;
    margin-top: 0 !important;
    z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    background-color: grey;
    padding: 1em;
}

th {
    cursor: pointer;
}

section .main-view > h1 {
    margin-bottom: 1em;
    background-color: rgba(81, 173, 235, 1);
}

.form-group:last-of-type {
    margin-bottom: 2em;
}

.form-group {
    margin-bottom: 1em !important;
}

#main-view > h1 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav-tabs {
    border-bottom: 5px solid grey;
    padding-bottom: 0.5em;
}
/****CUSTOM BUTTON****/

.employer {
    font-size: 1em;
    display: inline;
    z-index: -1 !important;
}

.employer a:hover {
    background-color: grey;
}

.btn-custom-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
    width: 20%;
    display: inline-block;
    float: left;
}

.btn-custom {
    width: 100%;
    z-index: 20;
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: rgba(255,156,0, 0.95);
    border: 2px solid #fff;
    border-radius: 0;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: rgba(255,156,0, 0.8);
}

.btn-custom-single {
    margin-left: 0 !important;
    margin-right: -4px !important;
    display: inline;
    width: 20%;
    z-index: 20;
    position: relative;
    padding: 10px 15px !important;
    background-color: rgba(255,156,0, 0.95);
    border: 2px solid #fff;
    border-radius: 0;
    text-align: center;
    color: #000;
    font-weight: bold;
    clear: both;
}

.btn-custom-single:hover {
    background-color: rgba(255,156,0, 0.8);
}

.dropdown-menu li {
    margin-left: 0 !important;
    width: 100%;
}

.dropdown-menu li a {
    border-radius: 0;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: rgba(255,156,0, 0.95);
    border: 2px solid #fff;
}

.dropdown-menu ul, {
    padding: 0;
    margin: 0;
}

.dropdown-menu  li.active  a,
.dropdown-menu  li.active  a:focus {
    background-color: grey;
}

.dropdown-menu > li.active > a:hover {
    background-color: rgba(255,156,0, 0.8);
}

/****NAVIGATION LINKS****/
.nav-pills {
    z-index: 20;
}

.nav-pills li {
    margin-left: 0 !important;
    width: 20%;
}

.nav-pills li a {
    border-radius: 0;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.nav-pills ul {
    padding: 0;
    margin: 0;
}

.nav-pills li a {
    background-color: rgba(255,156,0, 0.95);
    border: 2px solid #fff;
}

.nav-pills  li.active  a,
.nav-pills  li.active  a:focus {
    background-color: grey;
}

.nav-pills > li.active > a:hover {
    background-color: rgba(255,156,0, 0.8);
}

/*.employer > a {
    background-color: rgba(0, 5, 150, 1) !important;
    color: #fff !important;
}*/

#pageNavigation ul li a {
    border-radius: 0;
}

#pageNavigation {
    position: fixed;
    display: inline;
    top: 0;
    width: 100%;
    z-index: 200;
}

.text-center {
    text-align: center;
}

footer {
    padding: 1em;
    text-align: center;
    background-color: rgba(255,156,0, 1);
    font-weight: bold;
}

footer span {
    display: block;
}


/************
Login Style
*************/


.login-alert {
    margin: 2em 0;
}

.auth {
    margin: 0 auto;
}

.auth h1 {
    margin-top: 5em;
}

.auth-label {
    text-align: left;
}

.auth-input {
    width: 100%;
    margin: 0 auto;
}

.auth button {
    float: none;
    margin: 2em auto;
    width: 100%;
}

.login-wrapper {
    width: 45%;
    margin: 0 auto 2em auto;
}

/*************
Shop Style
**************/

.title {
    margin: 1em 0;
}

.shop-wrapper {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.catalog-list {
    position: relative;
    width: 80%;
    float: left;
}

.basket {
    position: relative;
    width: 20%;
    float: right;
}

.basket h2 {
    font-size: 1em;
}

.basket-name-price {
    width: 33.3%;
}

.basket-amount {
    width: 33.3%;
}

.delete-item-basket {

}

.logged-as-email {
    float: right;
}

#vegi {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    max-height: 700px;
    z-index: -1;
    margin: -226px 0px 0px -543px;
}

#free-spacer {
    width: 100%;
    height: 150px;
    background: transparent;
    z-index: 2;
}

.main-view {
    z-index: 2;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em 0 1em;
}

.main-view .form-group,
.main-view .form-group-sm {
    max-width: 50%;
    margin: 0 auto;
}

.logged-as-email {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 3.2em;
    z-index: 20;
}

.product h2 {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    text-transform: none;
    background-color: rgba(51, 174, 255, 0.85);
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.product p {
    margin-left: 60px;
    display: block;
    font-weight: bold;
    font-size: 1em;
    color: black;
    text-transform: none;
}

.product {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 325px;
    max-height: 160px;
    margin: 1em 1em 3em 0;
    float: left;
    background-color: rgba(254, 99, 0, 0.5);
    box-sizing: border-box;
}

.product .btn-info {
    margin: 0 auto;
    display: block;
}


/********************
    MODAL LAYOUT
********************/
.modal-dialog {
    //margin: 10% auto !important;
}

section .btn-success {
    display: block !important;
    margin: 3em auto !important;
}

.inline {
    display: inline-block !important;
    margin: auto;
}


/********************
        BASKET
*********************/
.basket {
    background-color: rgba(0,0,0, 0.1);

}

.basketItem {
    background-color: rgba(0,0,0, 0.25);
    color: #fff;
    padding: 1em;
    font-weight: bold;
}

.basketItem p {
    display: block;
}

.assignment {
    font-weight: bold;
    display: block;
    margin: 2em 0;
    width: 100%;
    float: left;
}

.assignment p {
    margin: 1em 2em;
}

.assignment h3 {
    margin: 0 0 1em 0;
    background-color: grey;
    padding: 1em;
    color: #fff;
    font-weight: bold;
}

.left-box {
    display: block;
    width: 50%;
    float: left;
    height: 100%;
}

.right-box {
    display: block;
    width: 50%;
    height: 100%;
    float: right;
}

.boxes {
    background-color: rgba(0,0,0, 0.1);
    border: 2px solid black;
}

.boxes h3 {
    background-color: #51adeb;
}

.product-list {
    background-color: rgba(51, 174, 255, 0.45);
    margin: 0.5em 0;
    padding: 0.5em 0;
}

.product-list-box {
    background-color: rgba(51, 174, 255, 0.45);
    margin: 0.5em 0;
    padding: 0.5em 0;
    width: 50%;
    display: inline-block;
    border: 1px solid white;
}

.info-text {
    float: right;
}

.assign-btn {
    margin: 1em 0 !important;
}

.catalog-search {
    float: right;
    display: inline-block;
    margin-right: 220px;
}