<section class="main-view shop-wrapper">
    <div class="col-md-4"></div>
    <article class="shop col-md-4">
        <h1 class="title">Kontakt</h1>
            <pre>
                <h2>LowFrost GmbH</h2>
                <p>Hollunder Strasse 3</p>
                <p>27889</p>
                <p>Einhornburg</p>
            </pre>
    </article>
    <div class="col-md-4"></div>
</section>