<div class="row login-wrapper">
    <div class="auth">
        <h1 class="text-center">Anmelden</h1>

        <!--Login Form-->
        <form class="row">
            <div class="auth-input input-group">
                <label class="auth-label" for="email">E-Mail</label>
                <input ng-model="user.email" name="email" type="email" placeholder="E-Mailadresse" class="form-control">
            </div>

            <div class="auth-input input-group">
                <label class="auth-label" for="password">Passwort</label>
                <input ng-model="user.password" name="password" type="password" placeholder="Passwort"
                       class="form-control">
            </div>

            <button data-ng-click="login()" class="btn btn-success">Anmelden</button>

            <div class="row">
                <div class="col-md-5"></div>
                <img style="display: block;" class="col-md-2 text-center" ng-if="isLoading" src="./images/spinner.gif">

                <div class="col-md-5"></div>
            </div>
        </form>

        <a ui-sref="register" href="">Noch nicht registriert? | Jetzt registrieren</a>
    </div>
</div>