<div class="row login-wrapper">
    <div class="auth">
        <h1 class="text-center">Registrieren</h1>

        <!--Login Form-->
        <form class="row">

            <div class="auth-input input-group">
                <label class="auth-label">Benutzername</label>
                    <input class="form-control" ng-model="user.username" type="text" placeholder="Benutzername">
            </div>

            <div class="auth-input input-group">
                <label class="auth-label">E-Mailadresse</label>
                    <input class="form-control" ng-model="user.email" type="email" placeholder="E-Mail">
            </div>

            <div class="auth-input input-group">
                <label class="auth-label">Passwort</label>
                    <input class="form-control" ng-model="user.password" type="password" placeholder="Passwort">
            </div>

            <div class="auth-input input-group">
                <label class="auth-label">Passwort wiederholen</label>
                    <input class="form-control" ng-model="user.password2" type="password" placeholder="Wiederhole das Passwort">
            </div>

            <button data-ng-click="register()" class="btn btn-success">Registrieren</button>

            <div class="row">
                <div class="col-md-5"></div>
                <img style="display: block;" class="col-md-2 text-center" ng-if="isLoading" src="./images/spinner.gif">

                <div class="col-md-5"></div>
            </div>
        </form>

        <a ui-sref="login" href="">Bereits registriert? | Jetzt Anmelden</a>
    </div>
</div>