<!DOCTYPE html>
<html lang="de" ng-app="fhWikiApi">
<head>
    <title>LowFrost CMS</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SETUP ANGULAR-->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="lib/angular-locale/angular-locale_de-de.js"></script>
    <script src="js/app.js"></script>

    <!-- Scripts -->
    <script src="lib/js-sha256/build/sha256.min.js"></script>

    <!--Style-->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--Controllers & Services-->
    <script src="js/services/modalService/modals.js"></script>
    <script src="js/services/DataFactory.js"></script>

    <script src="js/controllers/ModalInstanceCtrl.js"></script>
    <script src="js/controllers/AuthCtrl.js"></script>
    <script src="js/controllers/CustomerCtrl.js"></script>
    <script src="js/controllers/EmployerCtrl.js"></script>
    <script src="js/controllers/ShopCtrl.js"></script>
    <script src="js/controllers/OwnerCtrl.js"></script>

    <script src="js/services/AuthenticationFactory.js"></script>
    <script src="js/services/TokenInterceptor.js"></script>
    <script src="js/services/UserAuthFactory.js"></script>

    <!--Externa scripts-->
    <script type="text/javascript" src="lib/Chart.js/Chart.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.js"></script>
    <link href="lib/angular-chart.js/dist/angular-chart.css" rel="stylesheet">
</head>
<body ng-controller="AuthCtrl">
<header>
    <nav id="pageNavigation">
        <ul class="nav nav-pills navigation-main">
            <li class="{{isActiveState('shop.index')}}" role="presentation">
                <a ui-sref="shop.index" href="">Home</a>
            </li>
            <li class="{{isActiveState('shop.catalog')}}" role="presentation">
                <a ui-sref="shop.catalog" href="">Shop</a>
            </li>
            <li class="{{isActiveState('contact')}}" role="presentation">
                <a ui-sref="contact" href="">Kontakt</a>
            </li>
            <li ng-if="isCustomer()" class="{{isActiveState('customer.profile')}}" role="presentation">
                <a ui-sref="customer.profile">Profil</a>
            </li>
            <li ng-if="isEmployer() || isAdmin() || isOwner() || isAccounting()"
                class="{{isActiveState('employer.profile')}}" role="presentation">
                <a ui-sref="employer.profile">Profil</a>
            </li>
            <li ng-if="!isLogged()" class="{{isActiveState('customer.profile')}}" role="presentation">
                <a ui-sref="login" href="">Profil</a>
            </li>
            <li>
                <a class="btn-info" ng-if="!isLogged()" ui-sref="login" href="">Anmelden</a>
                <a class="btn-danger" ng-if="isLogged()" data-ng-click="logout()" href="">Abmelden</a>

            </li>
        </ul>
    </nav>
    <p class="logged-as-email" ng-if="isLogged()">Angemeldet als:
        {{getUserMail()}}</p>
    <section id="vegi" style="background-image: url('./images/vegis.jpg')"></section>
    <section id="free-spacer" class="low-frost-header"></section>
    <!--Employer-->
    <nav class="employer" ng-if="isEmployer() || isAdmin() || isAccounting()">
        <!--CUSTOMER-->
        <div ng-if="!isAccounting()" class="btn-custom-wrapper" uib-dropdown is-open="status.isopenCustomer">
            <button id="customerMenu" type="button" class="btn-custom" uib-dropdown-toggle ng-disabled="disabled">
                Kunde <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="customerMenu">
                <li class="{{isActiveState('customer.index')}}" role="presentation">
                    <a ui-sref="customer.index" href="">Verzeichnis</a>
                </li>
                <li class="{{isActiveState('employer.orders')}}" role="presentation">
                    <a ui-sref="employer.orders" href="">Kundenbestellungen</a>
                </li>
            </ul>
        </div>

        <!--EMPLOYER-->
        <div ng-if="isAccounting() || isEmployer()" class="btn-custom-wrapper" uib-dropdown is-open="status.isopenEmployer">
            <button id="employerMenu" type="button" class="btn-custom" uib-dropdown-toggle ng-disabled="disabled">
                Mitarbeiter <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="employerMenu">
                <li class="{{isActiveState('employer.index')}} employer" role="presentation">
                    <a ui-sref="employer.index" href="">Verzeichnis</a>
                </li>
                <li ng-if="isEmployer()" class="{{isActiveState('employer.assignments')}} employer">
                    <a disabled="disabled" ui-sref="employer.assignments" href="">Auftr&auml;ge</a>
                </li>
                <li class="{{isActiveState('employer.hours')}} employer">
                    <a ui-sref="employer.hours" href="">Stunden</a>
                </li>
                <li ng-if="isEmployer()" class="{{isActiveState('employer.tours')}} employer">
                    <a ui-sref="employer.tours" href="">Fahrten</a>
                </li>
                <!--<li>
                    <a ng-disabled="true" ui-sref="employer.tours" href="">Meine Fahrten</a>
                </li>-->
            </ul>
        </div>
        <!--<div class="clearfix"></div>-->
        <button ng-if="isEmployer()" ui-sref="shop.products" class="{{isActiveState('shop.products')}} btn-custom-single" role="presentation">Produkte</button>
        <!--Tour Planer-->
        <!--<div class="btn-custom-wrapper" uib-dropdown is-open="status.isopenTP">
            <button id="tourPlaner" type="button" class="btn-custom" uib-dropdown-toggle ng-disabled="disabled">
                Tour Planer <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="tourPlaner">
                <li class="{{isActiveState('employer.tours')}} employer" role="presentation">
                    <a ui-sref="employer.tours" href="">Alle Touren</a>
                </li>
                <li class="{{isActiveState('employer.vehicleUtilization')}} employer" role="presentation">
                    <a ui-sref="employer.vehicleUtilization" href="">Fahrzeug Auslastung</a>
                </li>
                <li class="{{isActiveState('employer.drivers')}} employer" role="presentation">
                    <a ui-sref="employer.drivers" href="">Fahrer</a>
                </li>
            </ul>
        </div>-->
    </nav>

    <!--ACCOUNTING-->
    <nav class="employer" ng-if="isAccounting() || isAdmin()">
        <!--Finanzen-->
        <div class="btn-custom-wrapper" uib-dropdown is-open="status.isopenEmployer">
            <button id="accountingMenu" type="button" class="btn-custom" uib-dropdown-toggle ng-disabled="disabled">
                Finanzen <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="accountingMenu">
                <li class="{{isActiveState('accounting.index')}} employer" role="presentation">
                    <a ui-sref="accounting.index" href="">Übersicht</a>
                </li>
                <li class="{{isActiveState('accounting.sales')}} employer" role="presentation">
                    <a ui-sref="accounting.sales" href="">Umsatz</a>
                </li>
            </ul>
        </div>
        <button ng-if="isAccounting() || isAdmin()" ui-sref="employer.vehicles" class="{{isActiveState('employer.vehicles')}} btn-custom-single" role="presentation">Fahrzeuge</button>
        <button ng-if="isAccounting()" ui-sref="shop.products" class="{{isActiveState('shop.products')}} btn-custom-single" role="presentation">Produkte</button>
    </nav>

    <!--OWNER-->
    <nav id="owner" class="employer" ng-if="isOwner()">
        <button ui-sref="owner.tours" class="{{isActiveState('owner.tours')}} btn-custom-single" role="presentation">Touren</button>
        <button ui-sref="owner.sales" class="{{isActiveState('owner.sales')}} btn-custom-single" role="presentation">Ums&auml;tze</button>
        <button ui-sref="owner.product" class="{{isActiveState('owner.product')}} btn-custom-single" role="presentation">Verkaufszahlen</button>
    </nav>


</header>

<!--Views rendered here-->
<section class="container-fluid" style="background-color: #fff;">
    <ui-view></ui-view>
</section>


<footer>
    <p>LowFrost 2016</p>
    <span>IT-Kontakt: <a href="mailto:christopher-robin.fey@student.fh-kiel.de">Christopher-Robin Fey</a></span>
    <span>IT-Kontakt: <a href="mailto:santosh.archarya@student.fh-kiel.de">Santosh Archarya</a></span>
</footer>
</body>
</html>