<section class="main-view" ng-init="fetchTop5()">
    <h1>Verkaufszahlen</h1>

    <!--<select ng-init="fetchPossibleSalesDates()" id="yearFilter" data-ng-change="checkSalesFilter(selectedSalesFilter)"
            ng-options="cf for cf in costFilters"
            ng-model="selectedSalesFilter">
    </select>-->
    <canvas id="bar" class="chart chart-bar"
            chart-data="data"
            chart-labels="labels"
            chart-series="series"
            chart-options="options">
    </canvas>


</section>