<section class="main-view" ng-init="getSalesYearNow()">
    <h1>Jahres Umsatz</h1>

    <!--<div style="display: block; margin: 1em 0;">
        <button ui-sref="accounting.add" class="btn btn-info">Tagesabschluss</button>
        <button ui-sref="accounting.fix" class="btn btn-info">Fixkosten</button>
    </div>-->

    <label for="yearFilter">Jahr:</label>
    <select ng-init="fetchPossibleSalesDates()" id="yearFilter" data-ng-change="checkSalesFilter(selectedSalesFilter)"
            ng-options="cf for cf in costFilters"
            ng-model="selectedSalesFilter">
    </select>
    <canvas id="line" class="chart chart-line"
            chart-data="data"
            chart-labels="labels"
            chart-series="series"
            chart-options="options">
    </canvas>

</section>