<section class="main-view" ng-init="getAllTourData()">
    <h1>Fahrten &Uuml;bersicht</h1>


    <label>Mitarbeiter:</label>
    <div class="form-group has-feedback" ng-init="getAllDriver()">
        <select data-ng-change="getToursByEmployer(driver.employer_id)" class="form-control" ng-model="driver.employer_id">
            <option value="{{driver.employer_id}}"  ng-repeat="driver in drivers">
                {{driver.employer_id}} | {{driver.surname}} | {{driver.name}}
            </option>
        </select>
    </div>

    <p class="pull-left">Anzahl der Fahrten: {{toursCount}}</p>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('date')">Datum
                <i ng-show="predicate === 'date' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'date' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('miles')">Kilometer
                <i ng-show="predicate === 'miles' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'miles' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('money')">Geld in der Kasse
                <i ng-show="predicate === 'money' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'money' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <!--<th>
                Details
            </th>-->
        </tr>
        <tr ng-repeat="tour in tours| filter : searchText">
            <td>{{tour.date | date}}</td>
            <td>{{tour.miles}}</td>
            <td>{{tour.money}}</td>
            <!--<td>
                <!--<button data-ng-click="showVehicle(tour.vehicle_id)" class="btn btn-info">Fahrzeug</button>-->
            <!--<button data-ng-click="removeTour(tour.tour_id)" class="btn btn-danger glyphicon glyphicon-remove-sign"></button>-->
            <!-- </td>-->
        </tr>
    </table>

</section>