<section ng-init="hours = {}" class="main-view">
    <h1>Stunden eintragen</h1>

    <div class="alert alert-info">
        <p style="text-align: center">Eingetragene Stunden k&ouml;nnen nachtr&auml;glich nicht mehr ge&auml;ndert werden</p>
    </div>

    <div class="form-group">
        <label>Datum:</label>
        <input class="form-control" value="hours.date" ng-model="hours.date" data-ng-click="openCalender()"
               uib-datepicker-popup="{{format}}"
               is-open="popup1.opened"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Schließen"
               clear-text="Zurücksetzen"
               current-text="Heute"
               alt-input-formats="altInputFormats">
    </div>

    <div class="form-group">
        <label>Arbeitsbeginn:</label>
        <select ng-model="hours.from_hour_hh" class="form-control-static">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
        </select>

        <select ng-model="hours.from_hour_mm" class="form-control-static">
            <option value="0">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
    </div>

    <div class="form-group">
        <label>Arbeitsende:</label>
        <select ng-model="hours.to_hour_hh" class="form-control-static">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
        </select>

        <select ng-model="hours.to_hour_mm" class="form-control-static">
            <option value="0">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
    </div>

    <button class="btn btn-success" data-ng-click="addEmployerHours(hours)">Eintragen</button>
</section>