<section class="main-view">
    <h1 ng-init="getTimeEstimationByEmployer()">Meine Stunden</h1>
    <br/>
    <div>
        <div>
            <button class="btn btn-success" ui-sref="employer.hoursAdd">Stunden eintragen</button>
        </div>
        <div class="pull-right">
            <label for="search">Suche: </label>
            <input ng-model="searchText" name="search" id="search" type="text">
        </div>
        <p class="pull-left">Meine GesamtStunden: {{hoursCount}}</p>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('date')">Datum:
                <i ng-show="predicate === 'date' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'date' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-if="isAdmin()" ng-click="order('total')">Stunden gesamt:
                <i ng-show="predicate === 'total' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'total' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
        </tr>
        <tr ng-repeat="te in hours.all| filter : searchText">
            <td>{{te.date | date}}</td>
            <td>{{te.total}}</td>
        </tr>
    </table>
</section>