<section class="main-view" ng-init="resetForm()">
    <h1>Kunde hinzuf&uuml;gen</h1>

    <div class="form-group">
        <label>Benutzername:</label>
        <input placeholder="Benutzername" maxlength="30" ng-model="userdata.user.username" class="form-control" type="text">

        <div class="auth-input input-group">
            <label class="auth-label">E-Mailadresse</label>
            <input class="form-control" ng-model="userdata.user.email" type="email" placeholder="E-Mail">
        </div>

        <div class="auth-input input-group">
            <label class="auth-label">Passwort</label>
            <input class="form-control" ng-model="userdata.user.password" maxlength="20" type="password" placeholder="Passwort">
        </div>

        <!--<div class="auth-input input-group">
            <label class="auth-label">Passwort wiederholen</label>
            <input class="form-control" ng-model="user.password2" type="password" placeholder="Wiederhole das Passwort">
        </div>-->
    </div>

    <h2>Adresse / Lieferadresse:</h2>

    <div class="form-group">
        <label>Vorname:</label>
        <input placeholder="Vorname" maxlength="30" ng-model="userdata.user.surname" class="form-control" type="text">

        <label>Nachname:</label>
        <input placeholder="Nachname" maxlength="25" ng-model="userdata.user.name" class="form-control" type="text">

        <label>Bundesland:</label>
        <select ng-model="userdata.user.country" class="form-control">
            <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
        </select>

        <label>Stadt:</label>
        <input placeholder="Stadt" maxlength="60" ng-model="userdata.user.city" class="form-control" type="text">

        <label>PLZ:</label>
        <input placeholder="Postleitzahl" maxlength="6" ng-model="userdata.user.postcode" class="form-control" type="text">

        <label>Stra&szlig;e:</label>
        <input placeholder="Straße" maxlength="30" ng-model="userdata.user.street" class="form-control" type="text">

        <label>Nr.:</label>
        <input placeholder="Straßen Nr." maxlength="3" ng-model="userdata.user.street_nr" class="form-control" type="text">

        <label>Telefonnummer:</label>
        <span>+49 </span>
        <input placeholder="Telefonnummer" maxlength="15" ng-model="userdata.user.tel_nr" class="form-control" type="text">
    </div>

    <button class="btn btn-success" data-ng-click="addNewCustomer(userdata)">Registrieren</button>
</section>