<div class="main-view user-edit">
    <h2>Kundendaten bearbeiten:</h2>

    <div class="form-group">
        <label>Benutzername:</label>
        <input maxlength="30" ng-model="userdata.user.username" class="form-control" type="text" value="{{userdata.user.username}}">

        <label>ID:</label>
        <span class="form-control">{{userdata.user.customer_id}}</span>

        <label>E-Mailadresse:</label>
        <input maxlength="30" ng-model="userdata.user.email" class="form-control" type="email" value="{{userdata.user.email}}">

        <label>Rolle:</label>
        <span class="form-control" ng-model="userdata.user.role">{{userdata.user.role}}</span>
    </div>

    <h2>Deine Adresse / Lieferadresse:</h2>

    <div class="form-group">
        <label>Vorname:</label>
        <input maxlength="30" ng-model="userdata.user.surname" class="form-control" type="text" value="{{userdata.user.surname}}">

        <label>Nachname:</label>
        <input maxlength="25" ng-model="userdata.user.name" class="form-control" type="text" value="{{userdata.user.name}}">

        <label>Bundesland:</label>
        <select ng-model="userdata.user.country" class="form-control">
            <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
        </select>

        <label>Stadt:</label>
        <input maxlength="60" ng-model="userdata.user.city" class="form-control" type="text" value="{{userdata.user.city}}">

        <label>PLZ:</label>
        <input maxlength="6" ng-model="userdata.user.postcode" class="form-control" type="text" value="{{userdata.user.postcode}}">

        <label>Stra&szlig;e:</label>
        <input maxlength="30" ng-model="userdata.user.street" class="form-control" type="text" value="{{userdata.user.street}}">

        <label>Nr.:</label>
        <input maxlength="3" ng-model="userdata.user.street_nr" class="form-control" type="text" value="{{userdata.user.street_nr}}">

        <label>Telefonnummer:</label>
        <span>+49 </span>
        <input maxlength="15" ng-model="userdata.user.tel_nr" class="form-control" type="text" value="{{userdata.user.tel_nr}}">

    </div>

    <button class="btn btn-success" data-ng-click="saveCustomer(userdata)">Speichern</button>
</div>