<section class="main-view">
    <h1 ng-init="getAllCustomers()">Kunden &uuml;bersicht</h1>
    <br/>
    <div>
        <div>
            <button class="btn btn-success" ui-sref="customer.add">Kunden hinzuf&uuml;gen</button>
        </div>
        <div class="pull-right">
            <label for="search">Suche: </label>
            <input ng-model="searchText" name="search" id="search" type="text">
        </div>
        <p class="pull-left">Nutzer gesamt: {{userCount}}</p>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('customer_id')">Kunden Nr.
                <i ng-show="predicate === 'customer_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'customer_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('email')">E-Mail
                <i ng-show="predicate === 'email' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'email' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('username')">Name
                <i ng-show="predicate === 'username' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'username' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th>
                Funktionen
            </th>
        </tr>
        <tr ng-repeat="user in users| filter : searchText">
            <td>{{user.customer_id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>
                <button data-ng-click="editUser(user.customer_id)" class="btn btn-info glyphicon glyphicon-pencil"></button>
                <button data-ng-click="removeCustomer(user.customer_id)" class="btn btn-danger glyphicon glyphicon-remove-sign"></button>
            </td>
        </tr>
    </table>
</section>