<section class="main-view" ng-init="getCustomerOrders()">
    <h1 ng-init="">Meine Bestellungen</h1>

    <div class="assignment">
        <div class="boxes">
            <h3>Bestellte Produkte:</h3>
            <div class="product-list-box" ng-repeat="order in orders">
                <p>Bestelldatum: {{order.order_date | date}}</p>
                <p>Name: <span class="info-text">{{order.product_name}}</span></p>
                <p>Menge: <span class="info-text">{{order.amount}}</span></p>
                <p>Preis: <span class="info-text">{{order.amount * order.retail_price | number:2}} &euro;</span></p>
            </div>
        </div>
    </div>

    <h2 class="alert alert-info" ng-if="orders.length === 0">Keine Auftr&auml;ge vorhanden</h2>

</section>