<section ng-init="getUserProfile()" class="main-view user-profile">
    <h1>Deine Daten</h1>

    <h2>Grunddaten:</h2>

    <button class="pull-right btn btn-info" ui-sref="customer.myorders">Meine Bestellungen</button>

    <div class="form-group">
        <label>Benutzername:</label>
        <span class="form-control">{{userdata.user.username}}</span>

        <label ng-hide="isCustomer()">ID:</label>
        <span ng-hide="isCustomer()" class="form-control">{{userdata.user.customer_id}}</span>

        <label>E-Mailadresse:</label>
        <span class="form-control">{{userdata.user.email}}</span>

        <label ng-hide="isCustomer()">Rolle:</label>
        <span ng-hide="isCustomer()" class="form-control">{{userdata.user.role}}</span>
    </div>

    <h2>Deine Adresse / Lieferadresse:</h2>

    <div class="form-group">
        <label>Vorname:</label>
        <input maxlength="30" ng-model="userdata.user.surname" class="form-control" type="text" value="{{userdata.user.surname}}">

        <label>Nachname:</label>
        <input maxlength="25" ng-model="userdata.user.name" class="form-control" type="text" value="{{userdata.user.name}}">

        <label>Bundesland:</label>
        <select ng-model="userdata.user.country" class="form-control">
            <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
        </select>

        <label>Stadt:</label>
        <input maxlength="10" ng-model="userdata.user.city" class="form-control" type="text" value="{{userdata.user.city}}">

        <label>PLZ:</label>
        <input maxlength="6" ng-model="userdata.user.postcode" class="form-control" type="text" value="{{userdata.user.postcode}}">

        <label>Stra&szlig;e:</label>
        <input maxlength="30" ng-model="userdata.user.street" class="form-control" type="text" value="{{userdata.user.street}}">

        <label>Nr.:</label>
        <input maxlength="3" ng-model="userdata.user.street_nr" class="form-control" type="text" value="{{userdata.user.street_nr}}">

        <label>Telefonnummer:</label>
        <span>+49 </span>
        <input maxlength="15" ng-model="userdata.user.tel_nr" class="form-control" type="text" value="{{userdata.user.tel_nr}}">

    </div>
    <br>
    <button class="btn btn-success" data-ng-click="saveUserProfile()">Speichern</button>
    <br>
    <br>
</section>