<div class="modal-header">
    <h3 class="modal-title">{{alert.title}}</h3>
</div>
<div class="modal-body">
    <p>{{alert.message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>