<div class="modal-header">
    <h3 class="modal-title">{{alert.title}}</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">Ja</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Abbrechen</button>
</div>