<div class="modal-header">
    <h3 class="modal-title">{{alert.title}}</h3>
</div>
<div class="modal-body">
    <!--<h3>Bestellte Produkte:</h3>
    <pre ng-repeat="otem in orderItems">
        <span>Produktname: {{otem.product_name}}</span>
        <span>Menge: {{otem.amount}}</span>
    </pre>-->

    <h3>Zugeteiltes Fahrzeug:</h3>
    <pre>
        <span>Fahrzeug Nr.: {{vehicle.vehicle_id}}</span>
        <span>Model: {{vehicle.model}}</span>
        <span>Marke: {{vehicle.brand}}</span>
        <span>Ladevolumen: {{vehicle.loading_volume}}</span>
    </pre>

    <h3>Fahrer:</h3>
    <pre>
        <span>Mitarbeiter Nr.: {{employer.employer_id}}</span>
        <span>Name: {{employer.name}}, {{employer.surname}}</span>
    </pre>
</div>
<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="ok()">Ok</button>
</div>