<section ng-init="vehicle = {}" class="main-view">
    <h1>Fahrzeug hinzufügen</h1>

    <div class="form-group">
        <label>Kennzeichen:</label>
        <input placeholder="" maxlength="30" ng-model="vehicle.mark" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Kaufpreis:</label>
        <input placeholder="0" maxlength="30" ng-model="vehicle.purchase_price" class="form-control" type="number">
    </div>

    <div class="form-group">
        <label>Ladevolumen:</label>
        <input placeholder="In Kubikmeter" maxlength="30" ng-model="vehicle.loading_volume" class="form-control" type="number">
    </div>

    <div class="form-group">
        <label>Durchschnittsverbrauch auf 100 KM in (l):</label>
        <input placeholder="In Liter" maxlength="10" ng-model="vehicle.consumption" class="form-control" type="number">
    </div>

    <!--<div class="form-group">
        <label>Kategorie:</label>
        <input placeholder="" maxlength="30" ng-model="vehicle.category" class="form-control" type="text">
    </div>-->

    <div class="form-group">
        <label>Marke:</label>
        <input placeholder="" maxlength="30" ng-model="vehicle.brand" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Model:</label>
        <input placeholder="" maxlength="30" ng-model="vehicle.model" class="form-control" type="text">
    </div>

    <button class="btn btn-success" data-ng-click="addNewVehicle(vehicle)">Fahrzeug speichern</button>
</section>