<section class="main-view">
    <h1 ng-init="getAllVehicles()">Fahrzeug &uuml;bersicht</h1>
    <br/>
    <div>
        <div>
            <button class="btn btn-success" ui-sref="employer.vehicleAdd">Fahrzeug hinzuf&uuml;gen</button>
        </div>
        <div class="pull-right">
            <input placeholder="Suche" ng-model="searchText" name="search" type="text">
        </div>
        <p class="pull-left">Fahrzeuge gesamt: {{vehiclesCount}}</p>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('vehicle_id')">Fahrzeug Nr.
                <i ng-show="predicate === 'vehicle_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'vehicle_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('mark')">Kennzeichen
                <i ng-show="predicate === 'mark' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'mark' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('consumption')">Verbrauch auf 100KM
                <i ng-show="predicate === 'consumption' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'consumption' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('status')">Status
                <i ng-show="predicate === 'status' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'status' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('loading_volume')">Ladevolumen
                <i ng-show="predicate === 'loading_volume' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'loading_volume' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('brand')">Marke
                <i ng-show="predicate === 'brand' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'brand' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('model')">Model
                <i ng-show="predicate === 'model' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'model' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th>
                Funktionen
            </th>
        </tr>
        <tr ng-repeat="vehicle in vehicles| filter : searchText">
            <td>{{vehicle.vehicle_id}}</td>
            <td>{{vehicle.mark}}</td>
            <td>{{vehicle.consumption}} (Liter)</td>
            <td>{{vehicle.status}}</td>
            <td>{{vehicle.loading_volume}}</td>
            <td>{{vehicle.brand}}</td>
            <td>{{vehicle.model}}</td>
            <td>
                <button data-ng-click="editVehicle(vehicle)" class="btn btn-info glyphicon glyphicon-pencil"></button>
                <button data-ng-click="removeVehicle(vehicle.vehicle_id)" class="btn btn-danger glyphicon glyphicon-remove-sign"></button>
            </td>
        </tr>
    </table>
</section>