<section ng-init="" class="main-view">
    <h1>Fahrzeug Auslastung</h1>
    <br/>
    <div>
        <div class="pull-right">
            <input placeholder="Suche" ng-model="searchText" name="search" type="text">
        </div>
    </div>
    <br/>
    <p class="pull-left">Anzahl der Fahrten: {{toursCount}}</p>
    <table class="table table-bordered">
        <tr>
            <th ng-click="order('date')">Datum
                <i ng-show="predicate === 'date' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'date' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('miles')">Kilometer
                <i ng-show="predicate === 'miles' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'miles' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('vehicle_id')">Fahrzeug Nr.
                <i ng-show="predicate === 'vehicle_id' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'vehicle_id' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th ng-click="order('money')">Geld in der Kasse
                <i ng-show="predicate === 'money' && !reverse" class="pull-right glyphicon glyphicon-chevron-up"></i>
                <i ng-if="predicate === 'money' && reverse" class="pull-right glyphicon glyphicon-chevron-down"></i>
            </th>
            <th>
                Details
            </th>
        </tr>
        <tr ng-repeat="tour in tours| filter : searchText">
            <td>{{tour.date}}</td>
            <td>{{tour.miles}}</td>
            <td>{{tour.vehicle_id}}</td>
            <td>{{tour.money}}</td>
            <td>
                <button data-ng-click="showVehicle(tour.vehicle_id)" class="btn btn-info glyphicon glyphicon-file"></button>
                <button data-ng-click="removeTour(tour.tour_id)" class="btn btn-danger glyphicon glyphicon-remove-sign"></button>
            </td>
        </tr>
    </table>
</section>